html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a:hover{
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.content{
    width:100vw;
    background: #6bbcea;
}
.con{
    width:100%;
    overflow: hidden;
    position:relative;
}
.con > .conLeft{
    width:30%;
    height:auto;
    display: inline-block;
    float: left;
}
.con > .conLeft >.zx_list{
    width:100%;
    background:#fff;
    border:1px solid #ccc;
}
.con > .conLeft >.zx_list >li{
    display: inline-block;
    width:100%;
    position: relative;
    border-bottom:1px dashed #ccc;
}
.con > .conLeft >.zx_list >li:last-child{
    border:none;
}
.con > .conLeft >.zx_list >li >.zx_title{
    padding:20px;
    display: inline-block;
    text-align:center;
    font-size:16px;

}
.con > .conLeft >.zx_list >li >.zx_title >p{
    border-right:1px solid #ccc;
    padding-right:20px;
    font-size:15px;
    line-height:20px;
}
.con > .conLeft >.zx_list >li:hover .more{
    display: block;
    z-index:999;
}
.con > .conLeft >.zx_list >li >.zx_title >p:nth-child(2){
    color:#6d7b9d;
    font-weight:bold;
}
.con > .conLeft >.zx_list >li >.zx_con{
    display: inline-block;
    width:60%;
}
.con > .conLeft >.zx_list >li >.zx_con ul
{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.con > .conLeft >.zx_list >li >.zx_con li{
    display: inline-block;
    flex:1;
    text-align: center;
    line-height:20px;
    font-size:14px;

}
.con > .conLeft >.zx_list >li >.zx_con li a{
    color:#444;
}
.con > .conLeft >.zx_list >li .more{
    display: none;
    width:300px;
    position: absolute;
    top:0;
    left:100%;
    background: #fff;
    padding:20px;
}
.con > .conLeft >.zx_list >li .more ul{
    width:100%;
    display: flex;
    flex-wrap:wrap;
}
.con > .conLeft >.zx_list >li .more li{
    display: inline-block;
    flex: 1;
    line-height:20px;
    font-size:14px;
    text-align: center;
}
.con > .conLeft >.zx_list >li .more li a{
    color:#444;
}
.con > .conRight{
    display: inline-block;
    width:69%;
    float: right;
}
.carousel {
    padding: 20px;
    -webkit-perspective: 500px;
    perspective: 500px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.carousel > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.carousel figure {
    margin: 0;
    width: 79%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel figure img {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0px;
}
.carousel figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}
.carousel nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0 0;
}
.carousel nav button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: #333;
    background: none;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 5px 10px;
}
body{
    font-size:14px;
}
a{
    color:#333;
}
.bigBg{
    background: #f1fafe;
}
.bord>div{
    border-bottom:1px solid #eaeaea;
}
.row > div{
    line-height: 40px;
    cursor: pointer;

    transition: all 2s;
    -webkit-transition:all 2s ;
    -o-transition: all 2s;
    -moz-transition: all 2s;
    overflow: hidden;
}
.layout >ul> li{
    margin-bottom:15px;
}
.row > div >ul>li>a{
    position: relative;
    transition: all 2s;
    -webkit-transition:all 2s ;
    -o-transition: all 2s;
    -moz-transition: all 2s;
    overflow: hidden;
}
.row > div>ul li a span{
    position: absolute;
    bottom: 20px;
    right:0;
    display: inline-block;
    width:60%;
    background: #eacc20;
    color: #fff;
    text-align: center;
    transition: all 1s;
    -webkit-transition:all 1s ;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transform: translate(100%, 0);
    opacity: 0;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
}
.row > div>ul li:hover  a span{
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    opacity: 1;
}
.bord>.bg{
    background: #f8f8f8;
    border-right:1px solid #eaeaea;
    color:#999;
    padding-left:0;
    padding-right:0;
    position: relative;
}
.list-inline{
    width:100%;
    border:1px dotted #ccc;
    margin:-1px;
}
.list-inline > li >a {
    padding:0 15px;
    font-size:14px;
}
.list-inline > li >a:hover{
    color:#ec5646;
}
.bord{
    margin-top:10px;
    border:1px solid #eaeaea;
    border-right:0
}
.col-lg-1, .col-md-1,.col-md-11,.col-sm-1, .col-sm-11, .col-xs-1,.col-xs-11, .col-md-3 ,.col-sm-2,.col-lg-3 ,.col-md-4, .col-sm-6{
    padding:0;
}
.icon_up{
    display: block;
    width:25px;
    height:23px;
    position: absolute;
    top:0;
    left:0;

    background-size:100% 100%;
}
.layout img{
    transition: all 2s;
}
#wrapper{
    background: #fff;
    box-shadow: 0px 10px 10px #555;
}
#img{
    position: relative;}
#img img{ height:500px;width:100%; display:none;box-shadow: 0px 0px 10px #000;}
#front{ position:absolute; left:0px; top:0px; z-index:10; cursor:pointer;  width:394px; height:500px; background:url(../../../resources/images/details/blank.gif); }
#front a{  position:absolute; left:20px; top:224px;display:block; background:url(../../../resources/images/details/imgSlideLeft.png) no-repeat; width:104px; height:104px; display:none;}
#next{  position:absolute; right:0px; top:0px; z-index:10;cursor:pointer; width:394px; height:500px;  background:url(../../../resources/images/details/blank.gif);}
#next a{  position:absolute; right:20px; top:224px; display:block; background:url(../../../resources/images/details/imgSlideRight.png) no-repeat; width:104px; height:104px; display:none;}
#cbtn{ position:relative; height:122px; margin-top:12px; }
#cbtn ul{position:relative; width:10000px; height:122px;}
#cbtn ul li{ float:left;cursor:pointer; text-align:center; margin-right:8px; }
#cbtn ul li:nth-child(1){margin-left:4px;}
#cbtn ul li img{ width:116px; height:86px; display:block;}
#cbtn ul li tt{ background:#000; color:#FFF; position:absolute; right:4px; bottom:4px; z-index:20; font-family:"宋体" ;font-size:12px; line-height:16px; padding:0 5px;}
#cbtn li.hov{box-shadow: 2px 2px 10px #000;}
.ctrl div{ clear:both;}
#cSlideUl{width:92%; height:116px;overflow:hidden; position:relative; top:18px; margin:0 auto;}
.picSildeLeft{cursor: pointer;
    position: absolute;
    top: 42px;
    left: 0px;
    z-index: 9;
    display: inline-block;
    margin: 0;
    border-left: 8px solid;
    border-bottom: 8px solid;
    width: 40px;
    height: 40px;
    transform: rotate(45deg); }
.picSildeRight{cursor: pointer;
    position: absolute;
    top: 42px;
    right: 0px;
    z-index: 9;
    display: inline-block;
    margin: 0;
    border-left: 8px solid;
    border-bottom: 8px solid;
    width: 40px;
    height: 40px;
    transform: rotate(-135deg);}
.clearfix{

    margin:0 auto;
}
.offer {
    position: absolute;
    top:10px;
    right:10px;

}
.offer>span{
    padding:10px 40px;
    background: #eacc20;
}
.form-horizontal .form-group{
    margin-left:0;
    margin-right:0;
}
.priceResult{
    margin-left:4px;
}
.result{
    position: relative;
    width:100%;
    height:218px;
    background: url(../../../resources/images/details/Result.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;: ;
}
.result p{
    position: absolute;
    text-indent: 0;
    line-height: 28px;
    font-size:18px;
}
.result p:nth-child(1){
    top:13px;
    left:82px;
    color:#fff;
}
.result p:nth-child(2){
    top:80px;
    left:15px;
    color:#5c5566;
}
.result p:nth-child(3){
    top:80px;
    right:15px;
    color:#5c5566;
}
.result p:nth-child(4){
    bottom:10px;
    left:82px;
    color:#fff;
}
.result p>span>span{
    display: block;
}
.result p>span>del{
    display: block;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
}
.reco_wrap{
    width:100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    margin-bottom:30px;
}
.sidebarRmt{
    font-size:20px;
    padding-left:10px;
    border-left:2px solid red;
    margin-left:10px;
    font-weight:bold;
    margin-bottom:10px;
}
.reco_content{
    width:100%;
    display:flex;
    height:250px;
    flex-wrap: wrap-reverse;

}
.reco_content > a{
    /*width:24%;*/
    /*height:250px;*/
    flex: 1;
    display: inline-block;
    margin:10px;
}
.reco_content > a img{
    width:100%;
    height:100%;
}
.showtime{
    margin-top:54px;background:#9ba3bf;margin-left: 50px;margin-bottom: 10px;

}
.askPrice{
    display: none;
}
@media screen and (max-width:600px){

    #img img{
        height:170px;
    }
    #img div{
        height:170px;
    }
    #cbtn ul li:nth-child(1){
        margin-left: 15px;
    }
    #cbtn ul li img{
        width: 142px;
    }
    .reco_content{
        display: block;
        width:100%;
        height:auto;
    }
    .reco_content a{
        display: inline-block;
        width:48%;
        height:140px;
        margin:0;
    }
    .reco_content a:nth-child(n+1){
        margin-left:3px;
    }
    .showtime{
        margin:0;
        padding-left: 30px;
    }
    .priceResult{

        display: none;
    }
    #front{
        width:128px;
    }
    #front a{
        top:53px;
        left:-28px;
        width:63px;
        height:63px;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        display: block;
    }
    #next{
        width:128px;
    }
    #next a{
        top:53px;
        right:-28px;
        width:63px;
        height:63px;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        display: block;
    }
    #cbtn{
        display: none;
    }
    .reco_wrap{
        margin-top:20px;
    }
}
@media screen and (min-width:600px) and (max-width:768px){
    .askPrice{
        display: block;
        position: fixed;
        right:5px;
        top:150px;
        width:70px;
        height:80px;
    }
    .askPrice img{
        width:100%;
        height:100%;
    }
    .showtime{
        margin-left:0;
        margin-top:10px;
        padding-left:20px;
        margin-left:0;
        position: relative;
    }
    .priceResult{
        position: absolute;
        top:10px;
        right:30px;
    }
    .result > p:nth-child(1) >span >span, .result > p:nth-child(4)>span >span{
        display: inline-block;
    }

    .result p:nth-child(1){
        top: 32px;
        left: 103px;


    }
    .result p:nth-child(4){
        bottom: 30px;
        left:125px;


    }
}
@media screen and (min-width:769px) and (max-width:1366px){
    .showtime{
        padding-bottom: 55px;
        margin-left:20px;
    }
    .form-horizontal .form-group{
        margin:0;
    }
    .result{
        margin-left: 10px;
    }
    .result > p:nth-child(1) >span >span, .result > p:nth-child(4)>span >span{
        display: inline-block;
    }

    .result p:nth-child(1){
        top: 23px;
        left: 45px;


    }
    .result p:nth-child(4){
        bottom: 30px;
        left: 70px;


    }
}

@media screen and (min-width:1024px) and (max-width:1366px){
    .result {
        margin-left: 0px;
        margin-top:20px;
    }

}
@media screen and (min-width:602px) and (max-width:990px){
    .priceResult{
        display:none;
    }
}