@charset "utf-8";

#footer,#header,article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,form,h1,h2,h3,h4,h5,h6,hgroup,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

a,article,aside,body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,img,input,li,nav,ol,p,section,span,td,textarea,th,ul {
    outline: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

body,html {
    color: #444;
    background-color: #f6f6f6;
    overflow-x: hidden
}

html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #CCC
}

html::-webkit-scrollbar-button {
    display: none
}

html::-webkit-scrollbar-track-piece {
    display: none
}

html::-webkit-scrollbar-thumb {
    background: #999
}

html::-webkit-scrollbar-thumb:hover {
    background: #39C
}

a {
    cursor: pointer;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

li {
    display: list-item;
    list-style: none;
    text-align: -webkit-match-parent
}

li.active {
    background: #FFF;
    opacity: .9;
    filter: alpha(opacity=90)
}

button.close:hover span {
    -moz-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
}

.btn-default {
    border-color: #DDD;
    color: #666
}

.btn-default.active,.btn-default:active,.btn-default:focus,.btn-default:hover,.open>.dropdown-toggle.btn-default {
    border-color: #BBB;
    color: #444
}

.btn-primary {
    background-color: #39C;
    border-color: #39C
}

.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary {
    background-color: #39C;
    border-color: #39C;
    opacity: .85;
    filter: alpha(opacity=85)
}

.btn-danger {
    background-color: #FF5E52;
    border-color: #FF5E52
}

.btn-danger.active,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open>.dropdown-toggle.btn-danger {
    background-color: #EF4639;
    border-color: #EF4639
}

button.disabled {
    cursor: no-drop
}

body,button,input,select,textarea {
    font-family: "Microsoft YaHei","微软雅黑","Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif
}

.pagetitle,.title {
    margin-bottom: 10px;
    overflow: hidden
}

.pagetitle h1,.pagetitle h2,.title h3 {
    font-size: 20px;
    margin: 0;
    float: left;
    cursor: pointer
}

.title h3:hover {
    color: #F73B3B
}

@font-face {
    font-family:TaurusNormal;src:url(fonts/TaurusNormal.woff) format('woff'),url(fonts/TaurusNormal.ttf) format('truetype'),url(fonts/TaurusNormal.svg) format('svg')
}

.user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none
}

::selection {
    background: #444;
    color: #FFF
}

::-moz-selection {
    background: #444;
    color: #FFF
}

@media (min-width:768px) {
    .container {
        width: auto
    }
}

@media (min-width:992px) {
    .container {
        width: auto
    }
}

@media (min-width:1200px) {
    .container {
        width: auto
    }
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0
}

@media (max-width:1240px) {
    .container {
        margin: 0 15px
    }
}

@-moz-keyframes comets {
    0% {
        width: 0;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(-20%,-100%);
        -moz-transform: rotate(45deg) translate(-20%,-100%);
        -ms-transform: rotate(45deg) translate(-20%,-100%);
        -o-transform: rotate(45deg) translate(-20%,-100%);
        transform: rotate(45deg) translate(-20%,-100%)
    }

    50% {
        width: 2px;
        opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1
    }

    100% {
        width: 0;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(20%,100%);
        -moz-transform: rotate(45deg) translate(20%,100%);
        -ms-transform: rotate(45deg) translate(20%,100%);
        -o-transform: rotate(45deg) translate(20%,100%);
        transform: rotate(45deg) translate(20%,100%)
    }
}

@-webkit-keyframes comets {
    0% {
        width: 0;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(-20%,-100%);
        -moz-transform: rotate(45deg) translate(-20%,-100%);
        -ms-transform: rotate(45deg) translate(-20%,-100%);
        -o-transform: rotate(45deg) translate(-20%,-100%);
        transform: rotate(45deg) translate(-20%,-100%)
    }

    50% {
        width: 2px;
        opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1
    }

    100% {
        width: 0;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(20%,100%);
        -moz-transform: rotate(45deg) translate(20%,100%);
        -ms-transform: rotate(45deg) translate(20%,100%);
        -o-transform: rotate(45deg) translate(20%,100%);
        transform: rotate(45deg) translate(20%,100%)
    }
}

@keyframes comets {
    0% {
        width: 0;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(-20%,-100%);
        -moz-transform: rotate(45deg) translate(-20%,-100%);
        -ms-transform: rotate(45deg) translate(-20%,-100%);
        -o-transform: rotate(45deg) translate(-20%,-100%);
        transform: rotate(45deg) translate(-20%,-100%)
    }

    50% {
        width: 2px;
        opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1
    }

    100% {
        width: 0;
        opacity: 0;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -webkit-transform: rotate(45deg) translate(20%,100%);
        -moz-transform: rotate(45deg) translate(20%,100%);
        -ms-transform: rotate(45deg) translate(20%,100%);
        -o-transform: rotate(45deg) translate(20%,100%);
        transform: rotate(45deg) translate(20%,100%)
    }
}

@media (max-width:800px) {
    .hidden-index {
        display: none!important
    }
}

.content-wrap {
    width: 100%;
    float: left;
    min-height: 1000px
}

.content {
    position: relative;
    min-height: 500px;
    margin-right: 380px;
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;
}

@media (max-width:1000px) {
    .content {
        margin-right: 0
    }

    .sidebar {
        display: none
    }
}

.excerpt {
    clear: both;
    border: 1px solid #EAEAEA;
    padding: 20px 20px 20px 255px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: -1px
}

.excerpt:hover {
    background-color: #FBFDFF;
    border-color: #42B5EF;
    position: relative;
    z-index: 20
}

.excerpt-1 {
    border-radius: 4px 4px 0 0
}

.excerpt .focus {
    float: left;
    margin-left: -235px;
    width: 220px
}

.excerpt .thumb {
    border-radius: 5px;
    width: 220px;
    height: 150px;
    overflow: hidden
}

.excerpt img {
    display: inline
}

.excerpt .focus:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(.47,2.02,.31,-.36);
    transition-timing-function: cubic-bezier(.47,2.02,.31,-.36)
}

.excerpt header {
    margin-bottom: 10px
}

.excerpt .cat {
    color: #FFF;
    background-color: #39C;
    padding: 3px 6px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 6px
}

.excerpt .cat:hover {
    opacity: .8
}

.excerpt h2 {
    display: inline;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    font-weight: 700
}
@media (max-width:680px){
    .excerpt h2{
        font-size:2.25rem;
    }
    .excerpt .cat{
        font-size:2.25rem;
    }
    .excerpt .meta{
        font-size:2rem;
    }
    .excerpt .note{
        font-size:2rem;
    }
}
.excerpt h2 a {
    color: #555
}

.excerpt h2 a:hover {
    color: #39C
}

.excerpt .meta {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px
}

@media (max-width:680px) {
    .excerpt .comment {
        display: none
    }
}

.excerpt .note {
    font-size: 12px;
    color: #999;
    word-wrap: break-word;
    line-height: 20px;
    cursor: default
}

.sidebar {
    float: left;
    margin-left: -360px;
    width: 360px;
    position: relative
}

.widget {
    clear: both;
    position: relative;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    overflow: hidden
}

.widget h3 {
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #eaeaea;
    background-color: #fbfbfb;
    margin: 0;
    padding: 11px 15px 10px;
    cursor: default
}

.widget-tabs .tab-content li a:hover {
    color: #39C
}

.widget-tabs .tab-content .centre h4 {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin: 25px 0
}

.widget_hot li a {
    padding: 10px 15px 10px 150px;
    color: #888;
    border-bottom: solid 1px #eee;
    overflow: hidden;
    position: relative;
    display: block;
    font-size: 14px
}

.widget_hot li a:hover {
    background-color: #FBFDFF;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(.47,2.02,.31,-.36);
    transition-timing-function: cubic-bezier(.47,2.02,.31,-.36)
}

.widget_hot .thumbnail {
    float: left;
    margin-left: -135px;
    border: none;
    margin-bottom: 0
}

.widget_hot .thumbnail img {
    width: 122px;
    height: 86px
}

.widget_hot .text {
    display: block
}

.widget_hot li a:hover .text {
    color: #39C
}

.widget_hot .muted {
    margin-right: 15px;
    font-size: 12px;
    color: #BBB
}

@media (max-width:380px) {
    .sitemap {
        display: none
    }
}

@media (max-width:700px) {
    .excerpt .note {
        height: 60px;
        overflow: hidden
    }
}

.plinks {
    overflow: hidden
}

.plinks {
    clear: both;
    overflow: hidden
}

.plinks li {
    float: left
}

.plinks li a {
    font-size: 12px;
    display: block;
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    border: 1px solid #EAEAEA;
    margin: 10px 10px 3px 8px;
    color: #555
}

@media (max-width:1100px) {
    .plinks li {
        width: 25%
    }
}

@media (max-width:950px) {
    .plinks li {
        width: 33.333334%
    }
}

@media (max-width:768px) {
    .container-page {
        padding-left: 0
    }

    .pageside {
        display: none
    }
}

@media (max-width:480px) {
    .plinks li {
        width: 50%
    }
}

@media (max-width:360px) {
    .plinks li {
        width: 100%
    }
}

.plinks li a:hover {
    border-color: #39C;
    color: #39C;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(.47,2.02,.31,-.36);
    transition-timing-function: cubic-bezier(.47,2.02,.31,-.36)
}

.plinks li img {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-top: 10px
}

.ptags li a {
    background: #EEE
}

.ptags li span {
    background-color: #999
}

.ptags li:hover span {
    background-color: #FFF;
    color: #39C
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.article-title {
    margin-top: 0;
    font-size: 26px;
    line-height: 36px;
}
.article-title a, .article-title a:hover {
    color: #555;
}
.article-meta {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}
.article-meta .item {
    margin-right: 20px;
    cursor: pointer;
}
.article-header {
    margin-bottom: 20px;
    padding: 25px 0;
    border-bottom: 1px solid #EEE;
    text-align: center;
}
.article-content {
    font-size: 15px;
    line-height: 25px;
    word-wrap: break-word;
    cursor: default;
}
.article-content p {
    text-indent: 30px;
    margin-bottom: 18px;
    word-wrap: break-word;
}
.article-content p img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(.47,2.02,.31,-.36);
    transition-timing-function: cubic-bezier(.47,2.02,.31,-.36)
}
.article-content img {
    margin: 5px auto;
    display: block;
    max-width: 100%;
    height: auto;
}
.article-content pre {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
    user-select: text;
    margin-bottom: 18px;
    margin-left: 30px;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.article-tags {
    margin: 30px 0;
    text-align: center;
    cursor: default;
}
.article-tags a {
    display: inline-block;
    padding: 4px 7px 3px;
    margin: 0 4px 4px 0;
    color: #FFF;
    font-size: 12px;
    background-color: #3399CC;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.single .title {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
}
.relates ul {
    margin-left: 18px;
    color: #BBB;
    margin-bottom: 30px;
}
.relates li {
    margin-top: 12px;
    list-style: disc;
}
.relates a {
    color: #777;
}
#comment {
    margin-bottom: 15px;
    font-size: 16px;
}
#respond {
    padding-bottom: 25px;
}
#respond, #postcomments {
    position: relative;
}
#respond .comment {
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
    padding: 5px 5px 5px 3px;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.comment input {
    margin-bottom: 5px;
    border: 2px solid #ccd4d9;
}
.comment-box {
    width: 100%;
    border: 2px solid #CCD4D9;
    border-radius: 2px;
    padding: 4px 4px 0px;
    background-color: #FFF;
    position: relative;
    z-index: 10;
}
#comment-textarea {
    width: 100%;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
    line-height: 22px;
    font-size: 14px;
    outline: 0;
    color: #666;
    height: 68px;
}
.comment-ctrl {
    background-color: #FBFBFB;
    height: 36px;
    margin-left: -4px;
    border-top: solid 1px #F2F2F2;
    z-index: 5;
}
.comment-prompt,.comment-success  {
    cursor: pointer;
    display: none;
    text-align: center;
    font-size: 14px;
    line-height: 38px;
    color: #3399CC;
}
#comment-submit {
    position: absolute;
    right: -2px;
    bottom: -2px;
    background: #3399CC;
    border: none;
    border: 2px solid;
    border-color: #3399CC;
    border-left: none;
    border-top: none;
    padding: 0px;
    width: 100px;
    height: 38px;
    color: #FFF;
    outline: 0;
    border-radius: 0 0 2px 0;
    font-size: 16px;
    z-index: 6;
}
#postcomments {
    padding-bottom: 20px;
}
.commentlist {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.comment-content {
    border-bottom: #EEE 1px solid;
}
.comment-f {
    position: absolute;
    right: 0;
    font-size: 16px;
    color: #ccc;
}
.comment-main {
    margin-left: 5px;
    margin-right: 30px;
    color: #888;
    line-height: 22px;
    position: relative;
    font-size: 14px;
    padding: 0 0 15px;
    word-wrap: break-word;
    max-height: 300px;
    overflow: hidden;
}
.comment-main p {
    margin-top: 15px;
    margin-bottom: 0;
}
.comment-main span.time {
    margin: 0 5px;
    font-size: 12px;
    color: #BBB;
}